
// Alerts

.alert {
  padding: $alert-padding;
  border: $alert-border-width solid transparent;
  margin-bottom: $alert-margin-bottom;

  @include border-radius($alert-border-radius);

  a {
    font-weight: $alert-link-font-weight;
  }

  &.info {
    @include alert-variant($alert-info-colour, $alert-info-bg, $alert-info-border);
  }

  &.success {
    @include alert-variant($alert-success-colour, $alert-success-bg, $alert-success-border);
  }

  &.warning {
    @include alert-variant($alert-warning-colour, $alert-warning-bg, $alert-warning-border);
  }

  &.danger {
    @include alert-variant($alert-danger-colour, $alert-danger-bg, $alert-danger-border);
  }
}
