
// Button CSS
// --------------------------------
.btn {
  display: inline-block;
  padding: 4px $padding-horizontal;
  margin-bottom: 0;
  font-weight: bold;
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: $border-radius;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    // box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }

  // Colours
  // ---------------
  &.btn-default {
    @include btn-style($btn-default-colour, $btn-default-bg-colour, $btn-default-border-colour);
  }

  &.btn-primary {
    @include btn-style($btn-primary-colour, $btn-primary-bg-colour, $btn-primary-border-colour);
  }

  &.btn-success {
    @include btn-style($btn-success-colour, $btn-success-bg-colour, $btn-success-border-colour);
  }

  &.btn-warning {
    @include btn-style($btn-warning-colour, $btn-warning-bg-colour, $btn-warning-border-colour);
  }

  &.btn-danger {
    @include btn-style($btn-danger-colour, $btn-danger-bg-colour, $btn-danger-border-colour);
  }

  &.btn-info {
    @include btn-style($btn-info-colour, $btn-info-bg-colour, $btn-info-border-colour);
  }

  // Sizes
  // ---------------
  &.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.btn-lg {
    font-size: ($font-size * 1.3);
  }

  &.btn-sm {
    font-size: ceil($font-size - 2);
    padding: 2px 4px;
  }
}
