
// Buttons

.btn {
  padding: $btn-padding-y $btn-padding-x;
  border: 1px solid transparent;
  line-height: $btn-line-height;

  @include text-shadow($btn-text-shadow);
  @include border-radius($btn-border-radius);
  @include transition(color $transition-duration $transition-function,
                      background-color $transition-duration $transition-function,
                      border-color $transition-duration $transition-function);

  &.primary {
    @include btn-variant($btn-primary-colour, $btn-primary-bg, $btn-primary-border);
  }

  &.secondary {
    @include btn-variant($btn-secondary-colour, $btn-secondary-bg, $btn-secondary-border);
  }

  &.dark {
    @include btn-variant($btn-dark-colour, $btn-dark-bg, $btn-dark-border);
  }

  &.info {
    @include btn-variant($btn-info-colour, $btn-info-bg, $btn-info-border);
  }

  &.success {
    @include btn-variant($btn-success-colour, $btn-success-bg, $btn-success-border);
  }

  &.warning {
    @include btn-variant($btn-warning-colour, $btn-warning-bg, $btn-warning-border);
  }

  &.danger {
    @include btn-variant($btn-danger-colour, $btn-danger-bg, $btn-danger-border);
  }
}
