
code,
pre {
  font-family: $font-family-monospace;
}

// Code element CSS
// --------------------------------

code {
  font-size: $code-font-size;
  color: $code-colour;
  background-color: $code-bg;
  border: $code-border;
  border-radius: $code-border-radius;
  padding: $code-padding-y $code-padding-x;
}

// Pre element CSS
// --------------------------------

pre {
  font-size: $pre-font-size;
  color: $pre-colour;
  background-color: $pre-bg;
  border: $pre-border;
  border-radius: $pre-border-radius;
  overflow: auto;
  padding: $pre-padding-y $pre-padding-x;
  margin: 0;
  margin-bottom: 1rem;
}
