
// Forms

.form-group {
  margin-bottom: $form-tabular-group-margin-bottom;
}

.form-control-label {
  padding: $input-padding-y $input-padding-x;
  margin: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-size: $font-size-base;
  line-height: $input-line-height;
  color: $input-colour;
  background-color: $input-bg;
  background-image: none;
  border: $input-border-width solid $input-border;

  @include border-radius($input-border-radius);
  @include transition(border-color $transition-duration $transition-function);

  &:focus {
    outline: none;
    border-color: $input-focus-border;
  }
}

.radio,
.checkbox {
  position: relative;
  display: block;

  label {
    margin-bottom: 0;
    cursor: pointer;

    input {
      margin-right: 0.25rem;
    }

    input:only-child {
      position: static;
    }
  }
}
