
// Grid
// --------------------------------
.container {
  width: $grid-container-width;
  margin: 0 auto;

  @include clearfix();
}

.row {
  margin-left:  ($grid-gutter / -2);
  margin-right: ($grid-gutter / -2);

  @include clearfix();
}

.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: ($grid-gutter / 2);
  padding-right: ($grid-gutter / 2);

  @include box-sizing(border-box);

  $i: $grid-columns;
  @while $i > 0 {
    &.span-#{$i} {
      width: percentage($i / $grid-columns);
    }
    $i: $i - 1;
  }

  $i: $grid-columns;
  @while $i > 0 {
    &.offset-#{$i} {
      margin-left: percentage($i / $grid-columns);
    }
    $i: $i - 1;
  }
}
