
// --------------------------------
// Grid

.container {
  width: $grid-container-width;
  margin-left: auto;
  margin-right: auto;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);

  @include clearfix();
}

.row {
  margin-left:  ($grid-gutter-width / 2);
  margin-right: ($grid-gutter-width / 2);

  @include clearfix();
}

.col {
  $i: $grid-columns;
  @while $i > 0 {
    &-span-#{$i} {
      position: relative;
      float: left;
      min-height: 1px;
      padding-left:  ($grid-gutter-width / 2);
      padding-right: ($grid-gutter-width / 2);

      @include clearfix();
      width: percentage($i / $grid-columns);
    }
    $i: $i - 1;
  }

  $i: $grid-columns;
  @while $i > 0 {
    &-offset-#{$i} {
      margin-left: percentage($i / $grid-columns);
    }
    $i: $i - 1;
  }
}

// .container {
//   width: $grid-container-width;
//   margin: 0 auto;

//   @include clearfix();
// }

// .row {
//   margin-left:  ($grid-gutter-width / -2);
//   margin-right: ($grid-gutter-width / -2);

//   @include clearfix();
// }

// .col {
//   position: relative;
//   float: left;
//   width: 100%;
//   min-height: 1px;
//   padding-left: ($grid-gutter-width / 2);
//   padding-right: ($grid-gutter-width / 2);

//   box-sizing: border-box;

//   $i: $grid-columns;
//   @while $i > 0 {
//     &-span-#{$i} {
//       width: percentage($i / $grid-columns);
//     }
//     $i: $i - 1;
//   }

//   $i: $grid-columns;
//   @while $i > 0 {
//     &-offset-#{$i} {
//       margin-left: percentage($i / $grid-columns);
//     }
//     $i: $i - 1;
//   }
// }
