
// Mixins

@import 'mixins/alerts';
@import 'mixins/buttons';
@import 'mixins/cards';
@import 'mixins/transitions';

// Misc. mixins

@mixin border-radius($radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
