
// Mixins

@import 'mixins/alerts';
@import 'mixins/border-radius';
@import 'mixins/buttons';
@import 'mixins/cards';
@import 'mixins/transitions';

// Misc. mixins

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
