
// Tabs

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: $tab-border-width solid $tab-border;

  li {
    display: inline-block;

    &.tab-item {
      margin-bottom: -$tab-border-width;
    }

    &.tab-item {
      a:link,
      a:visited {
        display: block;
        padding: $tab-padding;
        color: $tab-colour;
        border: $tab-border-width solid transparent;

        @include border-radius-top($tab-border-radius);

        &:hover,
        &:active {
          color: $tab-hover-colour;
          background-color: $tab-hover-bg;
          border-color: $tab-hover-border;
          border-bottom-color: $tab-hover-border;
        }
      }

      &.active a:link,
      &.active a:visited,
      &.active a:hover,
      &.active a:active {
        color: $tab-active-colour;
        background-color: $tab-active-bg;
        border-color: $tab-active-border;
        border-bottom-color: $tab-active-border-bottom;
      }
    }
  }
}
