
// Tables CSS

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;

  thead {
    border-bottom: $table-thead-border-bottom-width solid $table-border;
  }

  tr {
    border-bottom: $table-border-width solid $table-border;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  th,
  td {
    text-align: left;
    padding: $table-padding;
    vertical-align: top;
  }

  &.striped {
    tbody tr:nth-child(odd) {
      background-color: $table-tr-odd-background;
    }

    tbody tr:nth-child(even) {
      background-color: $table-tr-even-background;
    }
  }

  &.bordered {
    border: $table-border-width solid $table-border;

    th,
    td {
      border-right: $table-border-width solid $table-border;

      &:last-child {
        border-right-width: 0;
      }
    }
  }

  &.hover {
    tbody tr:hover {
      background-color: $table-tr-hover-background;
    }
  }
}
