
// Typography

html {
  font-size: $font-size-root;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
}

a:link,
a:visited {
  color: $link-colour;
  text-decoration: $link-decoration;

  @include transition(color $transition-duration $transition-function)

  &:hover,
  &:active {
    color: $link-hover-colour;
    text-decoration: $link-hover-decoration;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-line-height;
  margin-bottom: $headings-margin-bottom;
}

h1 {
  font-size: $headings-h1-font-size;
}

h2 {
  font-size: $headings-h2-font-size;
}

h3 {
  font-size: $headings-h3-font-size;
}

h4 {
  font-size: $headings-h4-font-size;
}

h5 {
  font-size: $headings-h5-font-size;
}

h6 {
  font-size: $headings-h6-font-size;
}
