
// Headings
// --------------------------------

.page-header {
    font-size: 1.7em;
    margin-top: 0;
    border-bottom: 1px solid #C2C2C2;
}

// Text
// --------------------------------

.text-muted {
  color: #777;
}

.text-center {
  text-align: center;
}
