
// Utilities

.text-primary {
  color: $colour-primary;
}

.text-secondary {
  color: $colour-secondary;
}

.text-info {
  color: $colour-info;
}

.text-success {
  color: $colour-success;
}

.text-warning {
  color: $colour-warning;
}

.text-danger {
  color: $colour-danger;
}

.bg-primary {
  background-color: $colour-primary;
}

.bg-secondary {
  background-color: $colour-secondary;
}

.bg-info {
  background-color: $colour-info;
}

.bg-success {
  background-color: $colour-success;
}

.bg-warning {
  background-color: $colour-warning;
}

.bg-danger {
  background-color: $colour-danger;
}

// -----------------------------------------------------------------------------
// Screen size utilities

@mixin screen-min-xs() {
  @media (min-width: map-get($grid-breakpoints, xs)) {
    @content
  }
}

@mixin screen-min-sm() {
  @media (min-width: map-get($grid-breakpoints, sm)) {
    @content
  }
}

@mixin screen-min-md() {
  @media (min-width: map-get($grid-breakpoints, md)) {
    @content
  }
}

@mixin screen-min-lg() {
  @media (min-width: map-get($grid-breakpoints, lg)) {
    @content
  }
}

@mixin screen-min-xl() {
  @media (min-width: map-get($grid-breakpoints, xl)) {
    @content
  }
}

@mixin screen-max-xs() {
  @media (max-width: map-get($grid-breakpoints, xs)) {
    @content
  }
}

@mixin screen-max-sm() {
  @media (max-width: map-get($grid-breakpoints, sm)) {
    @content
  }
}

@mixin screen-max-md() {
  @media (max-width: map-get($grid-breakpoints, md)) {
    @content
  }
}

@mixin screen-max-lg() {
  @media (max-width: map-get($grid-breakpoints, lg)) {
    @content
  }
}

@mixin screen-max-xl() {
  @media (max-width: map-get($grid-breakpoints, xl)) {
    @content
  }
}
