
// Utilities

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-left,
.pull-right {
  @include clearfix();
}

.text-left {
  text-align: left;
}

.text-centre,
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
