
// -----------------------------------------------------------------------------
// Options

$enable-rounded: true !default;
$enable-transitions: true !default;
$enable-shadows: true !default;

// Transitions
$transition-duration: .2s !default;
$transition-function: ease !default;

// Borders
$border-radius-base: .2rem !default;
$border-width-base: 1px !default;

// Screen sizes
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;

// -----------------------------------------------------------------------------
// Colours

$colour-primary: #2E86AB !default;
$colour-secondary: #dad6d5 !default;
$colour-dark: #5d5d5d !default;
$colour-info: #51B0FF !default;
$colour-success: #61AA63 !default;
$colour-warning: #FFBA08 !default;
$colour-danger: #D00000 !default;

// Links
$link-colour: #06c !default;
$link-decoration: none !default;
$link-hover-colour: #09f !default;
$link-hover-decoration: none !default;

// -----------------------------------------------------------------------------
// Typography

$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-root: 16px !default;
$font-size-base: 1rem !default;

$line-height: 1.5 !default;

// Headings
$headings-font-family: inherit !default;
$headings-font-weight: bold !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
$headings-margin-bottom: 1rem !default;

$headings-h1-font-size: 2.5rem !default;
$headings-h2-font-size: 2rem !default;
$headings-h3-font-size: 1.75rem !default;
$headings-h4-font-size: 1.5rem !default;
$headings-h5-font-size: 1.25rem !default;
$headings-h6-font-size: 1rem !default;

// -----------------------------------------------------------------------------
// Alerts

$alert-padding: .5rem .8rem !default;
$alert-margin-bottom: 1rem !default;
$alert-border-radius: $border-radius-base !default;
$alert-link-font-weight: bold !default;
$alert-border-width: $border-width-base !default;

$alert-info-colour: darken($colour-info, 22%) !default;
$alert-info-bg: lighten($colour-info, 30%) !default;
$alert-info-border: $colour-info !default;

$alert-success-colour: darken($colour-success, 20%) !default;
$alert-success-bg: lighten($colour-success, 40%) !default;
$alert-success-border: $colour-success !default;

$alert-warning-colour: darken($colour-warning, 20%) !default;
$alert-warning-bg: lighten($colour-warning, 32%) !default;
$alert-warning-border: $colour-warning !default;

$alert-danger-colour: darken($colour-danger, 20%) !default;
$alert-danger-bg: lighten($colour-danger, 32%) !default;
$alert-danger-border: $colour-danger !default;

// -----------------------------------------------------------------------------
// Buttons

$btn-padding-x: .7rem !default;
$btn-padding-y: .2rem !default;
$btn-border-radius: $border-radius-base !default;
$btn-line-height: $line-height !default;
// $btn-text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, 0.15) !default;
$btn-text-shadow: none;

$btn-primary-colour: #fff !default;
$btn-primary-bg: $colour-primary !default;
$btn-primary-border: $colour-primary !default;

$btn-secondary-colour: #000 !default;
$btn-secondary-bg: #fff !default;
$btn-secondary-border: $colour-secondary !default;

$btn-dark-colour: #fff !default;
$btn-dark-bg: $colour-dark !default;
$btn-dark-border: $colour-dark !default;

$btn-info-colour: #fff !default;
$btn-info-bg: $colour-info !default;
$btn-info-border: $colour-info !default;

$btn-success-colour: #fff !default;
$btn-success-bg: $colour-success !default;
$btn-success-border: $colour-success !default;

$btn-warning-colour: #fff !default;
$btn-warning-bg: $colour-warning !default;
$btn-warning-border: $colour-warning !default;

$btn-danger-colour: #fff !default;
$btn-danger-bg: $colour-danger !default;
$btn-danger-border: $colour-danger !default;

// -----------------------------------------------------------------------------
// Cards

$card-margin-bottom: 1rem !default;
$card-colour: #000 !default;
$card-bg: #fff !default;
$card-border: $colour-secondary !default;
$card-border-width: $border-width-base !default;
$card-border-radius: $border-radius-base !default;
$card-border-radius-inner: $border-radius-base - .1 !default;

$card-header-font-weight: normal !default;
$card-cap-padding: .3rem .6rem !default;
$card-cap-colour: #000 !default;
$card-cap-bg: darken(#fff, 5%) !default;

$card-block-padding: 1rem !default;
$card-text-padding: .3rem .6rem !default;

$card-primary-colour: #fff !default;
$card-primary-bg: $colour-primary !default;
$card-primary-border: $colour-primary !default;
$card-primary-cap-colour: $colour-primary !default;
$card-primary-cap-bg: lighten($colour-primary, 40%) !default;

$card-info-colour: #fff !default;
$card-info-bg: $colour-info !default;
$card-info-border: $colour-info !default;
$card-info-cap-colour: darken($colour-info, 22%) !default;
$card-info-cap-bg: lighten($colour-info, 32%) !default;

$card-success-colour: #fff !default;
$card-success-bg: $colour-success !default;
$card-success-border: $colour-success !default;
$card-success-cap-colour: darken($colour-success, 20%) !default;
$card-success-cap-bg: lighten($colour-success, 40%) !default;

$card-warning-colour: #fff !default;
$card-warning-bg: $colour-warning !default;
$card-warning-border: $colour-warning !default;
$card-warning-cap-colour: darken($colour-warning, 20%) !default;
$card-warning-cap-bg: lighten($colour-warning, 32%) !default;

$card-danger-colour: #fff !default;
$card-danger-bg: $colour-danger !default;
$card-danger-border: $colour-danger !default;
$card-danger-cap-colour: darken($colour-danger, 20%) !default;
$card-danger-cap-bg: lighten($colour-danger, 32%) !default;

// -----------------------------------------------------------------------------
// Forms

$input-padding-x: .6rem !default;
$input-padding-y: .2rem !default;
$input-line-height: $line-height !default;
$input-colour: #000 !default;
$input-colour-placeholder: $colour-secondary !default;
$input-bg: #fff !default;
$input-border: #ccc !default;
$input-border-width: $border-width-base !default;
$input-border-radius: $border-radius-base !default;

$input-focus-border: #0275d8 !default;

$form-tabular-group-margin-bottom: 10px !default;

// -----------------------------------------------------------------------------
// Grid

$grid-columns: 12 !default;
$grid-gutter-width: .8rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// -----------------------------------------------------------------------------
// Tables

$table-padding: .3rem .5rem !default;
$table-border: #ececec !default;
$table-border-width: $border-width-base !default;
$table-border-radius: $border-radius-base !default;

$table-thead-border-bottom-width: 2px !default;

$table-tr-odd-background: #f9f9f9 !default;
$table-tr-even-background: transparent !default;

$table-tr-hover-background: darken($table-tr-odd-background, 1.5%) !default;

// -----------------------------------------------------------------------------
// Tabs

$tab-padding: .1rem .6rem !default;
$tab-colour: #8c8c8c !default;
$tab-font-weight: 500 !default;
$tab-border: #ccc !default;
$tab-border-width: $border-width-base !default;
$tab-border-radius: $border-radius-base !default;

$tab-hover-colour: $tab-colour !default;
$tab-hover-bg: #f6f6f6 !default;
$tab-hover-border: $tab-border !default;

$tab-active-colour: #000 !default;
$tab-active-bg: #fff !default;
$tab-active-border: $tab-border !default;
$tab-active-border-bottom: #fff !default;
