
// Base
// -------------------------
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-colour: #000;
$bg-colour: #fff;
$padding-vertical: 5px;
$padding-horizontal: 8px;
$border-radius: 2px;

$line-height: 1.32;
$line-height-computed: floor($font-size * $line-height);

// Colours
// -------------------------
$colour-primary: #428bca;
$colour-success: #5cb85c;
$colour-warning: #f0ad4e;
$colour-danger: #d9534f;
$colour-info: #5bc0de;

// Links
$link-colour: #06c;
$link-hover-colour: #09f;

// States
$state-danger-colour: #a94442;

// Alerts
// -------------------------
$alert-border: 1px solid transparent;
$alert-border-radius: 4px;

// Success
$alert-success-colour: #468847;
$alert-success-bg-colour: #dff0d8;
$alert-success-border-colour: darken($alert-success-bg-colour, 8%);

// Warning
$alert-warning-colour: #c09853;
$alert-warning-bg-colour: #fcf8e3;
$alert-warning-border-colour: darken($alert-warning-bg-colour, 8%);

// Danger
$alert-danger-colour: #b94a48;
$alert-danger-bg-colour: #f2dede;
$alert-danger-border-colour: darken($alert-danger-bg-colour, 8%);

// Info
$alert-info-colour: #3a87ad;
$alert-info-bg-colour: #d9edf7;
$alert-info-border-colour: darken($alert-info-bg-colour, 8%);

// Buttons
// -------------------------
// .btn-default
$btn-default-colour: #333;
$btn-default-bg-colour: #fff;
$btn-default-border-colour: #ccc;

// .btn-primary
$btn-primary-colour: #fff;
$btn-primary-bg-colour: $colour-primary;
$btn-primary-border-colour: darken($btn-primary-bg-colour, 5%);

// .btn-success
$btn-success-colour: #fff;
$btn-success-bg-colour: $colour-success;
$btn-success-border-colour: darken($btn-success-bg-colour, 5%);

// .btn-warning
$btn-warning-colour: #fff;
$btn-warning-bg-colour: $colour-warning;
$btn-warning-border-colour: darken($btn-warning-bg-colour, 5%);

// .btn-danger
$btn-danger-colour: #fff;
$btn-danger-bg-colour: $colour-danger;
$btn-danger-border-colour: darken($btn-danger-bg-colour, 5%);

// .btn-info
$btn-info-colour: #fff;
$btn-info-bg-colour: $colour-info;
$btn-info-border-colour: darken($btn-info-bg-colour, 5%);

// Grid
// -------------------------
$grid-container-width: 1024px;
$grid-container-width: 65rem !default; // 1024px
$grid-columns: 12;
$grid-gutter-width: 1.875rem !default; // 30px;

// Form inputs
// -------------------------
$input-height: ($line-height-computed + (4px * 2.5));
$input-bg-colour: rgba(250, 250, 250, 0.45); // #fafafa
$input-border: 1px solid #bbb;
$input-border-radius: $border-radius;

$input-focus-border-colour: #3478AA;
$input-focus-bg-colour: #fff;

// Panels
// -------------------------
$panel-margin: 0 0 10px 0;
$panel-header-padding: $padding-vertical $padding-horizontal;
$panel-header-font-weight: bold;

// Default
$panel-default-header-bg-colour: #f5f5f5;
$panel-default-border-colour: $btn-default-border-colour;

// .panel-success
$panel-success-header-bg-colour: $alert-success-bg-colour;
$panel-success-border-colour: $alert-success-border-colour;

// .panel-warning
$panel-warning-header-bg-colour: $alert-warning-bg-colour;
$panel-warning-border-colour: $alert-warning-border-colour;

// .panel-danger
$panel-danger-header-bg-colour: $alert-danger-bg-colour;
$panel-danger-border-colour: $alert-danger-border-colour;

// .panel-info
$panel-info-header-bg-colour: $alert-info-bg-colour;
$panel-info-border-colour: $alert-info-border-colour;
