
// Button mixins

@mixin btn-variant($colour, $bg-colour, $border-colour) {
  color: $colour;
  background-color: $bg-colour;
  border-color: $border-colour;

  &:focus,
  &:hover {
    background-color: darken($bg-colour, 10%);
    border-color: darken($border-colour, 10%);
  }

  &:active,
  &.active {
    background-color: darken($bg-colour, 15%);
    border-color: darken($border-colour, 15%);
  }

  &.outline {
    color: $border-colour;
    background: transparent;
    text-shadow: none;

    &:focus,
    &:hover {
      color: $colour;
      background-color: darken($bg-colour, 10%);
      border-color: darken($border-colour, 10%);
    }

    &:active,
    &.active {
      color: $colour;
      background-color: darken($bg-colour, 15%);
      border-color: darken($border-colour, 15%);
    }
  }
}
