
// Alerts CSS
// --------------------------------
.alert {
  padding: 5px 10px;
  margin-bottom: 10px;
  border: $alert-border;
  border-radius: $alert-border-radius;

  h4 {
    margin-top: 0;
    colour: inherit;
  }

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }

  &.alert-success {
    @include alert-style($alert-success-colour, $alert-success-bg-colour, $alert-success-border-colour);
  }

  &.alert-warning {
    @include alert-style($alert-warning-colour, $alert-warning-bg-colour, $alert-warning-border-colour);
  }

  &.alert-danger {
    @include alert-style($alert-danger-colour, $alert-danger-bg-colour, $alert-danger-border-colour);
  }

  &.alert-info {
    @include alert-style($alert-info-colour, $alert-info-bg-colour, $alert-info-border-colour);
  }

  .close {
    margin-top: 1px;
  }
}
