
// Alerts CSS
// --------------------------------

.alert {
  color: $alert-warning-color;
  padding: $alert-padding;
  margin-bottom: 10px;
  text-shadow: $alert-text-shadow;
  background-color: $alert-warning-bg-color;
  border: $alert-border $alert-warning-border-color;
  border-radius: $alert-border-radius;

  h4 {
    margin: 0;
    margin-bottom: 5px;
  }

  &.success {
    color: $alert-success-color;
    background-color: $alert-success-bg-color;
    border-color: $alert-success-border-color;
  }

  &.error {
    color: $alert-error-color;
    background-color: $alert-error-bg-color;
    border-color: $alert-error-border-color;
  }

  &.info {
    color: $alert-info-color;
    background-color: $alert-info-bg-color;
    border-color: $alert-info-border-color;
  }
}
