
// Base CSS
// --------------------------------

body {
  font-size: $font-size;
  font-family: $font-family;
}

a {
  &:link, &:visited {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

p.justify {
  text-align: justify;
}

.centered {
  margin: 0 auto;
}
