
// Box CSS
// --------------------------------

.box {
  padding: $box-padding;
  background-color: $box-bg-color;
  border: $box-border;
  border-radius: $box-border-radius;

  h2, h3, h4 {
    &.title {
      margin-top: 0;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
