
// Button CSS
// --------------------------------

.btn,
.btn:link,
.btn:visited,
.btn:active,
button,
input[type="button"],
input[type="submit"],
input[type="reset"]
{
  vertical-align: middle;
  text-align: center;
  border-radius: $btn-border-radius;
  padding: $btn-normal-padding;
  font-size: $btn-normal-font-size;
  font-weight: $btn-font-weight;
  cursor: $btn-cursor;
  color: $btn-color;
  text-decoration: none;

  // Default / Blue
  border: 0;
  background-color: $btn-default-bg-color;

  &:hover {
    background-color: $btn-default-hover-bg-color;
  }

  &:active {
    box-shadow: $btn-shadow;
  }

  // Success
  &.success {
    background-color: $btn-success-bg-color;

    &:hover {
      background-color: $btn-success-hover-bg-color;
    }
  }

  // Warning
  &.warning {
    background-color: $btn-warning-bg-color;

    &:hover {
      background-color: $btn-warning-hover-bg-color;
    }
  }

  // Danger
  &.danger {
    background-color: $btn-danger-bg-color;

    &:hover {
      background-color: $btn-danger-hover-bg-color;
    }
  }

  // Sizes
  // --------------------------------

  &.large {
    font-size: $btn-large-font-size;
    padding: $btn-large-padding;
  }

  &.small {
    font-size: $btn-small-font-size;
    padding: $btn-small-padding;
  }

  // Block
  // --------------------------------
  &.block {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
