
// Forms CSS
// --------------------------------

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
textarea {
  border: 1px solid #bbb;
  border-radius: 2px;
  background-color: #fafafa;
  color: #000;
  outline: 0;
  padding: 4px 4px;
  font-size: 0.95em;
  width: 200px;

  &:focus {
    border-color: #3478AA;
    background-color: #fff;
  }

  &.input-short {
    width: 160px;
  }

  &.invalid, &:invalid {
    border-color: red;
  }
}

input[type="checkbox"],
input[type="radio"] {
  font-size: 1em;
}

form {
  .help-inline {
    display: inline-block;
    padding-left: 5px;
  }

  // Tabular
  // --------------------------------
  &.tabular {
    .control-group {
      margin-bottom: 15px;

      &:before,
      &:after {
        display: table;
        content: "";
        line-height: 0;
      }

      &:after {
        clear: both;
      }
    }
    .control-label {
      float: left;
      width: 160px;
      padding-top: 0.3em;
      text-align: right;
    }
    .controls {
      margin-left: 180px;

      input[type="checkbox"],
      input[type="radio"] {
        margin-top: 0.4em;
      }

      select {
        margin-top: 2px;
      }
    }
  }

  // Inline
  // --------------------------------
  &.inline {
    vertical-align: middle;

    input,
    select,
    textarea,
    .radio,
    .checkbox {
      display: inline-block;
    }
    .radio,
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  // Actions
  // --------------------------------
  .actions {
    text-align: center;
  }
}

.input-group {
  display: table;

  input,
  select {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
  }

  * {
    border-radius: 0;

    &:first-child {
      border-radius: 4px 0 0 4px;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }

  input, select, button {
    &:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  .input-group-addon {
    display: table-cell;
    border: 1px solid #ccc;
    background-color: #eee;
    text-align: center;
    vertical-align: middle;
    padding: 3px 8px;
    font-size: 0.8em;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }
}

input, textarea, select, button {
  vertical-align: middle;

  &.col {
    float: none;
  }
}
