
// Grid
// --------------------------------

.container {
  width: $grid-container-width;
  margin: 0 auto;
  @include clearfix();
}

.row {
  @include clearfix();
  margin-left:  (30px / -2);
  margin-right: (30px / -2);
}

.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding-left: $grid-column-padding;
  padding-right: $grid-column-padding;

  $i: $grid-columns;
  @while $i > 0 {
    &.span-#{$i} {
      width: percentage($i / $grid-columns);
    }
    $i: $i - 1;
  }

  $i: $grid-columns;
  @while $i > 0 {
    &.offset-#{$i} {
      margin-left: percentage($i / $grid-columns);
    }
    $i: $i - 1;
  }
}
