
// Panels
// --------------------------------
.panel {
  border: 1px solid $panel-default-border-colour;
  border-radius: $border-radius;

  ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .panel-header {
    background-color: $panel-default-header-bg-colour;
    border-bottom: 1px solid $panel-default-border-colour;
    border-radius: $border-radius $border-radius 0 0;
    padding: $panel-header-padding;
    font-weight: $panel-header-font-weight;
  }

  .panel-content {
    padding: 10px;
  }

  // Colours
  // ---------------
  &.panel-success {
    @include panel-style($panel-success-header-bg-colour, $panel-success-border-colour);
  }

  &.panel-warning {
    @include panel-style($panel-warning-header-bg-colour, $panel-warning-border-colour);
  }

  &.panel-danger {
    @include panel-style($panel-danger-header-bg-colour, $panel-danger-border-colour);
  }

  &.panel-info {
    @include panel-style($panel-info-header-bg-colour, $panel-info-border-colour);
  }

  // Sizes
  // ---------------
  &.panel-lg {
    .panel-header {
      font-size: ($font-size * 1.3);
    }
  }
}
