.panel {
  border: $panel-border;
  border-radius: $panel-border-radius;
  margin: $panel-margin;

  ul, ol {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .panel-header {
    background-color: $panel-header-bg-color;
    border-bottom: $panel-border;
    border-radius: $panel-border-radius $panel-border-radius 0 0;
    padding: $panel-header-padding;
    font-weight: $panel-header-font-weight;
  }

  .panel-content {
    padding: $panel-content-padding;
  }

  &.large {
    .panel-header {
      font-size: $panel-large-header-font-size;
      padding: $panel-large-header-padding;
    }
  }

  &.success {
    border-color: $panel-success-border-color;

    .panel-header {
      background-color: $panel-success-header-bg-color;
      border-color: $panel-success-border-color;
      color: $panel-success-header-color;
    }
  }

  &.error {
    border-color: $panel-error-border-color;

    .panel-header {
      background-color: $panel-error-header-bg-color;
      border-color: $panel-error-border-color;
      color: $panel-error-header-color;
    }
  }

  &.warning {
    border-color: $panel-warning-border-color;

    .panel-header {
      background-color: $panel-warning-header-bg-color;
      border-color: $panel-warning-border-color;
      color: $panel-warning-header-color;
    }
  }

  &.info {
    border-color: $panel-info-border-color;

    .panel-header {
      background-color: $panel-info-header-bg-color;
      border-color: $panel-info-border-color;
      color: $panel-info-header-color;
    }
  }
}
