
// Body
// --------------------------------
$font-size: 0.90em;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Links
// --------------------------------
$link-color: #06c;
$link-hover-color: #09f;

// Boxes
// --------------------------------
$box-padding: 15px;
$box-bg-color: #f6f6f6;
$box-border: 1px solid #e4e4e4;
$box-border-radius: 4px;

// Grid
// --------------------------------

$grid-container-width: 1024px;
$grid-columns: 12;
$grid-column-padding: 15px;

// Alerts
// --------------------------------

// All alerts
$alert-padding: 8px 10px;
$alert-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
$alert-border: 1px solid;
$alert-border-radius: 4px;

// Warning
$alert-warning-color: #c09853;
$alert-warning-bg-color: #fcf8e3;
$alert-warning-border-color: #fbeed5;

// Success
$alert-success-color: #468847;
$alert-success-bg-color: #dff0d8;
$alert-success-border-color: #d6e9c6;

// Error
$alert-error-color: #b94a48;
$alert-error-bg-color: #f2dede;
$alert-error-border-color: #eed3d7;

// Info
$alert-info-color: #3a87ad;
$alert-info-bg-color: #d9edf7;
$alert-info-border-color: #bce8f1;


// Buttons
// --------------------------------

// All buttons
$btn-border-radius: 4px;
$btn-font-weight: bold;
$btn-cursor: pointer;
$btn-color: #fff;
$btn-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);

// Normal size buttons
$btn-normal-font-size: $font-size;
$btn-normal-padding: 5px 10px;

// Large size buttons
$btn-large-font-size: 1.3em;
$btn-large-padding: 6px 14px;

// Small size buttons
$btn-small-font-size: 0.75em;
$btn-small-padding: 4px 8px;

// Default button
$btn-default-bg-color: #3872b3;
$btn-default-hover-bg-color: darken($btn-default-bg-color, 4%);

// Success button
$btn-success-bg-color: rgb(56, 179, 90);
$btn-success-hover-bg-color: darken(rgb(56, 179, 90), 4%);


// Warning button
$btn-warning-bg-color: rgb(250, 167, 50);
$btn-warning-hover-bg-color: darken(rgb(250, 167, 50), 6%);


// Danger button
$btn-danger-bg-color: rgb(179, 56, 56);
$btn-danger-hover-bg-color: darken(rgb(179, 56, 56), 4%);
