
// Base
// -------------------------
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 14px;
$font-colour: #000;
$bg-colour: #fff;
$padding-vertical: 5px;
$padding-horizontal: 8px;
$border-radius: 2px;

$line-height: 1.32;
$line-height-computed: floor($font-size * $line-height);

// Links
$link-colour: #06c;
$link-hover-colour: #09f;
