
// Body
// --------------------------------
$font-size: 0.90em;
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Links
// --------------------------------
$link-color: #06c;
$link-hover-color: #09f;
