
// Debug CSS
// --------------------------------

.debug {
  .row {
    .col {
      background-color: #eee;
      text-align: center;
      border: 1px solid #bbb;
      line-height: 30px;

      &:hover {
        background: #ddd;
      }

      .col {
        background: #ddd;

        &:hover {
          background: #ccc;
        }
      }
    }
  }

  .fluid-grid {
    width: 60%;
    margin: 0 auto;
    -webkit-transition: all 0.30s linear;
    -moz-transition: all 0.30s linear;
    -o-transition: all 0.30s linear;
    transition: all 0.30s linear;

    &:hover {
      width: 100%;
    }
  }
}

#modal {
  .debug {
    padding: 20px;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
}
