
// Grid
// --------------------------------

.container {
  width: 940px;

  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

.row {
  @include clearfix();
  margin-left:  (30px / -2);
  margin-right: (30px / -2);
}

.col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  box-sizing: border-box;
  padding-left: (30px / 2);
  padding-right: (30px / 2);

  $i: 12;
  @while $i > 0 {
    &.span-#{$i} {
      width: percentage($i / 12);
    }
    $i: $i - 1;
  }

  $i: 12;
  @while $i > 0 {
    &.offset-#{$i} {
      margin-left: percentage($i / 12);
    }
    $i: $i - 1;
  }
}
