
// Fluid Grid
// --------------------------------

.container {
  width: 940px;

  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    clear: both;
  }
}

.row {
  width: 100%;
  margin-bottom: 4px;

  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }

  [class*="span"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }
  }

  .span1 {
    width: 6.5%;
  }

  .span2 {
    width: 15%;
  }

  .span3 {
    width: 23.5%;
  }

  .span4 {
    width: 32%;
  }

  .span5 {
    width: 40.5%;
  }

  .span6 {
    width: 49%;
  }

  .span7 {
    width: 57.5%;
  }

  .span8 {
    width: 66%;
  }

  .span9 {
    width: 74.5%;
  }

  .span10 {
    width: 83%;
  }

  .span11 {
    width: 91.5%;
  }

  .span12 {
    width: 100%;
  }
}
