a {
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.08s linear;
  -o-transition: color 0.08s linear;
  transition: color 0.15s linear;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
textarea {
  -webkit-transition: border 0.15s linear, background 0.15s linear;
  -moz-transition: border 0.15s linear, background 0.15s linear;
  -o-transition: border 0.15s linear, background 0.15s linear;
  transition: border 0.15s linear, background 0.15s linear;
}
