a {
  -webkit-transition: color 0.08s ease-in;
  -moz-transition: color 0.08s ease-in;
  -o-transition: color 0.08s ease-in;
  transition: color 0.08s ease-in;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
textarea {
  -webkit-transition: border 0.15s ease-in, background 0.15s ease-in;
  -moz-transition: border 0.15s ease-in, background 0.15s ease-in;
  -o-transition: border 0.15s ease-in, background 0.15s ease-in;
  transition: border 0.15s ease-in, background 0.15s ease-in;
}
